.tweet-list {
  flex-grow: 1;
  overflow-y: scroll;
  scrollbar-width: none;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);

}

.tweet-list::-webkit-scrollbar {
  width: 0px;
}

.tweet-list-title h4 {
  width: 100%;
  padding: 24px;
  border-bottom: 1px solid var(--border-color);
}

.tweet-list-wrap {
  border-bottom: 1px solid var(--border-color);
  box-sizing: border-box;
}

.tweet-list-card {
  display: flex;
  padding: 16px 24px;
  border-bottom: 1px solid var(--border-color);
}

.tweet-list-avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 8px;
  flex-shrink: 0;
}

.tweet-list-content {
  flex-shrink: 1;
}

.tweet-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.tweet-list-name-group {
  display: flex;
  align-items: center;

}

.tweet-list-name {
  margin-right: 12px;
}

.tweet-list-account {
  color: var(--secondary-text-color);
}

.tweet-list-delete {
  cursor: pointer;
}

.tweet-list-text {
  margin-bottom: 8px;
  display: inline-block;
}

.tweet-count {
  display: flex;
}

.tweet-reply,
.tweet-like {
  display: flex;
  align-items: center;
  margin-right: 40px;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.tweet-reply-img,
.tweet-like-img {
  width: 16px;
  margin-right: 8px;
}

.tweet-reply p,
.tweet-like p {
  color: var(--secondary-text-color);
}