/* global */
:root {
  --main-color: #FF6600;
  --primary-color: #0062FF;
  --danger-color: #FC5A5A;
  --header-text-color: black;
  --commen-text-color: #44444F;
  --secondary-text-color: #6C757D;
  --grey-bg-color: #FAFAFB;
  --border-color: #E6ECF0;
}

.wrap {
  width: 1140px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wrap.setting-wrap {
  justify-content: flex-start;

}

.wrap.admin-users-wrap {
  width: 1400px;
  justify-content: flex-end;

}