/* 發文彈跳視窗 */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  z-index: 0;
}

.popupReply-wrap {
  position: relative;
}

.popupReply {
  display: flex;
  flex-direction: column;
  width: 634px;
  /* height: 634px; */
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  position: fixed;
  top: 56px;
  border-radius: 14px;
  z-index: 1;
}

.popupReply-colse {
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
}

.popupReply-colse-img {
  width: 24px;
  cursor: pointer;
}

.popupReply-text-wrap {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px 24px;
}

.popupReply-user {
  display: flex;
}

.reply-to {
  color: var(--main-color);
  margin-top: 8px;
}

.reply-to>span {
  color: var(--secondary-text-color);
}

.popupReply-avatar {
  width: 50px;
  flex-shrink: 0;
}

.popupReply-avatar {
  position: relative;
}

.popupReply-avatar::after {
  border-left: 2px solid #aaa;
  height: calc(100% - 50px - 16px);
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);

}

.popupReply-content {
  box-sizing: border-box;
  margin-left: 8px;
  /* flex-shrink: 1; */
}

.popupReply-name-group {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.popupReply-name {
  margin-right: 12px;
}

.popupReply-account {
  color: var(--secondary-text-color);
}


.popupReply-text {
  margin-bottom: 8px;
  display: inline-block;
}

.popupReply-again-inner {
  display: flex;
  margin-top: 16px;
}

.popupReply-again-avatar {
  width: 50px;
  /* margin-right: 8px; */
}

.popupReply-again-inner>textarea {
  display: inline-block;
  height: 100%;
  padding: 12px 8px;
  font-size: 16px;
  line-height: 24px;
  color: var(--commen-text-color);
  border: 0px;
  flex-grow: 1;
  resize: none;

}

.popupReply-btn-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 16px;
}

.post-text-num-warning {
  font-size: 14px;
  color: var(--danger-color);
  margin-right: 20px;
}

.popupReply-btn {
  align-self: flex-end;
}